<div class="current-route">
    <div>Contract Management / Report Contract</div>
</div>
<div class="row no-gutters">
    <div class="col-lg-12 col-md-12">
        <mat-card>
            <mat-card-content>
                <div class="obj-header">
                    <div class="heading">
                        <h2>Report Contract</h2>
                    </div>
                </div>

                <mat-accordion>
                    <div *ngFor="let activity of activities">
                        <mat-expansion-panel class="activity" (opened)="showContracts(activity.activity_id)"
                            (closed)="clearTable()">
                            <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
                                <mat-panel-title>
                                    Activity - {{activity.activity_code}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{activity.activity_desc}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            
                            <div *ngIf="contract.length != 0" style="background-color: whitesmoke;">
                                <hr/>
                                <div class="contract-details">
                                    <div><small>Contract Type:</small><div >{{contract_type}}</div></div>

                                    <div><small>Contract Title:</small><div >{{contract_title}}</div></div>
                                    
                                    <div><small>Amount: </small> <div>{{contract_amount | number:'1.2-2'}} Tsh</div></div>
                                    
                                    <div><small>Signed Date:</small><div >{{signed_date | date:'MMM d, y'}}</div></div>

                                    <div><small>Contract Stage:</small><div >{{contract_stage}}</div></div>

                                    <div class="spacer"></div>
                                    <div (click)="onView(activity.activity_id)" style="cursor: pointer;"><mat-icon>visibility</mat-icon></div>
                                </div>
                                <hr/>
                            </div>
                            <div class="button-list">
                                <div>
                                    <button class="btn btn-success" (click)="addContract(activity.activity_id)" *ngIf="contract.length == 0">Add Contract</button>
                                </div>
                                <div>
                                    <button class="btn btn-secondary" *ngIf="contract.length != 0" (click)="addContractProgress(activity.activity_id)">Add Contract Progress</button>
                                </div>
                                <div>
                                    <button class="btn btn-success" *ngIf="contract.length != 0"  (click)="updateConstractStage(activity.activity_id)" >Update Contract Stage</button>
                                </div>
                            </div>
                            

                            <mat-table [dataSource]="contractProgressArray" matSort #table>

                                <ng-container matColumnDef="sn">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Sn </mat-header-cell>
                                    <mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="date_disbursed">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Date Disbursed
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.date_disbursed | date:'MMM d, y'}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="amount_disbursed">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Amount Disbursed (Tsh)
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.amount_disbursed | number:'1.2-2'}} </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="remark">
                                    <mat-header-cell mat-sort-header *matHeaderCellDef> Remarks </mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.remark}}</mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                            <mat-paginator [length]="contractProgressArray.data.length" [pageSizeOptions]="[5,10,15,20]"
                                [pageIndex]="0" [pageSize]="10" showFirstLastButtons></mat-paginator>

                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
                <div *ngIf="activities.length == 0" style="padding: 10px;">
                    <h3>No record found</h3>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>