.attach-file{
    width: 100%;
    padding: 2px;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
}
.attached-col{
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}
.attached-file{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    margin: 3px;
    background-color: #e9ecef;
    padding: 3px 5px 3px 5px;
    gap: 20px;
}

.file-action{
    cursor: pointer;
}