/* You can add global styles to this file, and also import other style files */
@import 'src/environments/_variables';

body{
    background-color: whitesmoke;
}

.current-route{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    font-size: 0.8rem;
    padding: 0 10px 10px 10px;
}

.successSnarkBar{
  color: #155724;
  background-color: #d4edda;
    font-size: 1.4rem;
    button{
      color: black
    }
  }
  .failureSnarkBar{
    color: #721c24;
    background-color: #f8d7da;
    font-size: 1.4rem;
    button{
      color: white
    }
  }

  .mat-menu-item{
    color: $green_color !important;
    mat-icon{
      color: $green_color !important;
    }
    
  }

  .heading{
    h2{
        font-size: 1rem;
    }
}

  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: goldenrod; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: goldenrod; 
}

.row {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.obj-header{
  display: flex;
  flex-direction: row;
  align-items: stretch;

}


.spacer {
  flex: 1 1 auto;
}

.button-list{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
}

.add{
  border: none !important;
  background: none !important;
  color: #135029 !important;
  
}

//horizontal stepper
.mat-horizontal-stepper-header {
  height: 30px !important;
 }
.mat-step-header:hover {
 background: whitesmoke !important;
}
.mat-horizontal-content-container {
  padding: 0 !important;
}


.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #135029 !important;
  color: #fff !important;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
flex: 0 1 auto;
}

mat-expansion-panel {
  mat-expansion-panel-header {
    min-height: 80px !important; 
  }
}


