<form [formGroup]="ResetForm">
    <h2 mat-dialog-title>Enter your email to reset password!</h2>
    <hr />
    <mat-dialog-content>
        <div class="form-group col-lg-12 col-sm-12 form-input">
          
          <div class="form-row">
            <div class="form-group col">
              <label>Email</label>
              <input type="text" class="form-control form-control-sm" formControlName="email" placeholder="Enter Email">
              <small><div *ngIf="ResetForm.get('email')?.touched && ResetForm.get('email')?.invalid" class="text-danger">Enter valid email</div></small>
            </div>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="emailSentStatus">
            Password reset mail has been sent, check your email!
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="emailExistStatus">
            Email does not exist!
          </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn btn-secondary" (click)="onClose()" style="margin-right: 10px;">Cancel</button>
        <button [disabled]="ResetForm.invalid  || hidesubmitbutton" (click)="onSubmit()" type="submit" 
            class="btn btn-success">Submit</button>
    </mat-dialog-actions>
</form>
  <!-- 
  [disabled]="ResetForm.invalid"  -->

  <!-- (click)="onSubmit()" -->