
<!-- spinner -->
<div class="spinner-container">
    <div *ngIf="sharedService.isLoading | async">
        <mat-progress-bar mode="indeterminate" style="color: goldenrod;"></mat-progress-bar>
    </div>
  </div>
  
  <div class="login-content">
      <div class="login-form">
        <form [formGroup]="Form">
            <!-- <div class="banner">
                <img src="/assets/images/logo.png">
            </div> -->
          <div class="form-header">
              Passsword Resetting
          </div>
          <div class="form-group col-lg-12 col-sm-12 form-input">
            <div class="form-row">
              <div class="form-group col">
                <label>Password</label>
                <input type="password" class="form-control form-control-sm" formControlName="password" placeholder="Enter Password">
                <small><div *ngIf="Form.get('password')?.touched && Form.get('password')?.invalid" class="text-danger">Passsword is required</div></small>
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                  <label>Confirm Password</label>
                  <input type="password" class="form-control form-control-sm" formControlName="password2" placeholder="Confirm Password">
                  <small><div *ngIf="Form.get('password2')?.touched && Form.get('password2')?.invalid" class="text-danger">Confirm Passsword</div></small>
                </div>
              </div>
            <div class="form-row">
              <div class="form-group col">
                <button [disabled]="Form.invalid"  type="submit" class="form-control btn btn-success" (click)="onSubmit()">Submit</button>
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
    <!-- 
    [disabled]="Form.invalid"  -->