<div class="current-route">
    <div>Request Log</div>
</div>

<mat-card>
    <mat-card-content>
        <div class="obj-header">
            <div class="heading">
                <h2>Add New Change Request</h2>
            </div>
            <div>
                <button class="add" mat-button (click)="onAdd()">
                    <mat-icon style="font-size: xx-large !important;">add_circle</mat-icon>
                </button>
            </div>
        </div>
        <div class="filter">
            <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Search" class="form-control shadow-none">
        </div>
        <mat-table [dataSource]="leadersArray" matSort #leaderstable>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> RN </mat-header-cell>
                <mat-cell *matCellDef="let element; let i = index;"> CR-000{{i+1}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="mnrtsystem_name">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Project/Initiative </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.mnrtsystem.mnrtsystem_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="request_desc">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.request_desc}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category_name">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Category</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.requestcategory.category_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="priority">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Priority</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.priority.priority_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Submission Date</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.created_at | date: 'yyyy-MM-dd'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="deadline">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Deadline</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.deadline}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="reason">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Reason</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reason}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="institution">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Institution </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.institution.inst_name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell mat-sort-header *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div *ngIf="element.status == true">
                        Pending
                    </div>
                    <div *ngIf="element.status == false">
                        Rejected
                    </div>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-icon [matMenuTriggerFor]="menu" style="cursor: pointer;">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <!-- <button mat-menu-item (click)="onView(row)">
                            <mat-icon>visibility</mat-icon>
                            <span>View</span>
                        </button>-->
                        <button mat-menu-item (click)="onDelete(row)">
                            <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                        </button>
                        <!--<button mat-menu-item (click)="onUpdate(row)">
                            <mat-icon>update</mat-icon>
                            <span>Update</span>
                        </button> -->
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="leadersdisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: leadersdisplayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [length]="leadersArray.data.length" [pageSizeOptions]="[5,10,15,20]" [pageIndex]="0"
            [pageSize]="10" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>


