<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">people</i>
                        </div>
                        <p class="card-category">Users</p>
                        <div class="card-title">
                            {{users_count}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div><i class="material-icons">watch_later</i></div><div>Latest</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">domain</i>
                        </div>
                        <p class="card-category">Institutions</p>
                        <div class="card-title">
                            {{mnrtsystems_count}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div><i class="material-icons">watch_later</i></div><div>Latest</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">computers</i>
                        </div>
                        <p class="card-category">MNRT Systems</p>
                        <div class="card-title">
                            {{institutions_count}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div><i class="material-icons">watch_later</i></div><div>Latest</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">track_changes</i>
                        </div>
                        <p class="card-category">Requests</p>
                        <div class="card-title">
                            {{institutions_count}}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div><i class="material-icons">watch_later</i></div><div>Latest</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



